;VERSION 0.9.0
;Edit this file at your own risk!
;File format: <key><single space><value><LF or CR+LF>

video.frameskip 1

sound 1
sound.rate 32000

vb.input.instant_read_hack 1
vb.instant_display_hack 1
vb.allow_draw_skip 1

vb.cpu_emulation fast
vb.disable_parallax 0
vb.3dmode anaglyph
vb.anaglyph.preset disabled
vb.anaglyph.lcolor 0xFF0000
vb.anaglyph.rcolor 0x0080FF

;vb.anaglyph.preset disabled
;vb.anaglyph.lcolor 0xff0000
;vb.anaglyph.rcolor 0x000000
;vb.disable_parallax 1
